*{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}

header{

	font-size: 75px;
	text-align: center;
	color:black;
	position: relative;
	top: -50px;

}

body{

	background-color: #fff;
	position: relative;
	text-align: center;
	
}
.navBar{

	position: fixed; 
	background-color: black;
	color: white;
	width: 100vw;
	height: 10vw;
	display: flex;
	flex-direction: row;
	z-index: 1;

}

.navBarP{

	text-align: center;
	position: relative;
	top: 20px;
	border-style: hidden;
	border-color: white;
	border-radius: 14px;
	transition-duration: 1s;	
}

.navBarP:hover{

	background-color: lightgrey;
	position: relative;
	top: 20px;
  	color: grey;
  	border: hidden;
	border-radius: 14px;


}
.navBar a:link, .navBar a:visited{


	color: white;
	text-decoration: none;

}



.navBarColumn{
	position: relative;
	width: 100vw;
	border-style: hidden;
	background-color:black;
	text-align: right;

}



.main{

	position: relative;
	top: 150px;
	width: 80vw;
	left: 9vw;
	z-index: 0;
}





body img {
  width: 250px;
  height: 250px;
  object-fit: fill;
}

.row1 {
	display: flex;
}

.column1 {
  flex: 33.33%;
  padding: 5px;
}
.row2 {
	display: flex;
	position: relative;
}

.column2 {
  flex: 33.33%;
  padding: 5px;
}
.row3 {
	display: flex;
}

.column3 {
  flex: 33.33%;
  padding: 5px;
}
.row4 {
	display: flex;
}

.column4 {
  flex: 33.33%;
  padding: 5px;
}
.row5 {
	display: flex;
	position: relative;
}

.column5 {
  flex: 33.33%;
  padding: 5px;
}

p{

	font-size: 35px;

}

#div1{

	border: hidden;
	border-radius: 24px;
	background-color: white;
	text-decoration: none;

}

#button{

	position: relative;	
	width: 80vw; 
	transition-duration: 0.8s;	


}

#button:link, #button:visited{

	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: black;

}

#button:hover{

	background-color: lightgrey;
  	color: black;
  	border: hidden;
	border-radius: 24px;
	opacity: 0.5;

}