header{

	font-size: 75px;
	text-align: center;
	color:black;

}
body{

	background-color: #fdfdfd;
	position: relative;
	text-align: center;
}
.main{

	position: relative;
	top: 100px;
	width: 80vw;
	left: 9.3vw;

}


body img {
  width: 250px;
  height: 250px;
  object-fit: fill;

}

.row1 {
	display: flex;
}

.column1 {
  flex: 33.33%;
  padding: 5px;
}
.row2 {
	display: flex;
	position: relative;
	width: 80vw;
}

.column2 {
  flex: 33.33%;
  padding: 5px;
}
.row3 {
	display: flex;
}

.column3 {
  flex: 33.33%;
  padding: 5px;
}
.row4 {
	display: flex;
	position: relative;
	width: 80vw;
}

.column4 {
  flex: 33.33%;
  padding: 5px;
}
.row5 {
	display: flex;
	position: relative;
	width: 80vw;
}

.column5 {
  flex: 33.33%;
  padding: 5px;
}

p{

	font-size: 35px;

}

#div1{

	border-style: solid;
	border-radius: 14px;

}