*{

	margin: 0;
	padding: 0;

}

/*navBar*/

.navBar{

	position: fixed;
	z-index: 2;
	width: 100vw;
	background-color: #333;
	font-size: 25px;
}

.navBar img{

	position: absolute;
	right: 0;
	z-index: 2;
	width: 65.5px;
	height: 59px;

}

#navBarUl{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navBarLi {
	float: left;
	border-style: hidden;
	border-radius: 14px;
}

#navBarLi a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navBarLi a:hover:not(.active) {
	background-color: #444;
	border-style: hidden;
	border-radius: 14px;
}

.active {
	background-color: #777;
	border-style: hidden;
	border-radius: 14px;
}
/*navBar*/

#main{

	position: relative;

}

#main h1{

	position: absolute;
	font-size: 65px;
	top:200px;
	right: 0;

}

#main ol{

	position: absolute;
	right: 0;

}

#main li{

	position: relative;
	font-size: 20px;
	top:50px;
	right:0;

}

#mainPic{

	position: relative;
	top:200px;
	left: 50px;

}

#redLine{

	position: relative;
	border-style: solid;
	color: red;
	top: 238px;
	width: 90vw; 
	left: 3.5%;
	z-index: 1;

}

#more{



}

#moreInfo{

	position: relative;
	top: 250px;
	width: 90vw;
	left: 3.75%;
	font-size: 35px;
	color: white;
	border-style: hidden;
	border-radius: 30px;
	background-color:darkred;
	opacity: 0.7;
}


/*ending*/
/*.endDiv{

	position: absolute;
	bottom: 0;
	width: 100vw;
	background-color: black;

}

#naZakazH{
	text-align: center;
	color: white;
	font-size: 70px;

}

#naZakazP{
	text-align: center;
	font-size: 35px;
  	color: #8a8fa3; 
 }
#callButton{
	background-color:#333333;
	color: #8a8fa3;
	font-size: 35px;
	border-radius: 14px;
	opacity: 0.8;
	color:white;
	position: relative;
	text-align: center;
	z-index: 0;
	text-decoration: none;
}*/
/*ending*/