*{
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}

header{

	font-size: 75px;
	text-align: center;
	color:black;
	position: relative;
	top: -50px;

}

body{

	background-color: #fff;
	position: relative;
	text-align: center;
	
}

.navBar{

	position: fixed;
	z-index: 1;
	width: 100vw;
}
ul {

	/*animation*/
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	background-color: #333;
	color: white;
	animation: rollDown 3s 1;
	animation-fill-mode: forwards;
	}

	@keyframes rollDown {
	0%{height: 100vh}
/*	99%{height: 5vh;}*/
	100%{height: 60px;}
}
	/*animation*/

ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-size: 25px;
}

li {
	float: left;
	border-style: hidden;
	border-radius: 14px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #444;
	border-style: hidden;
	border-radius: 14px;
}

.active {
	background-color: #777;
	border-style: hidden;
	border-radius: 14px;
}

.main{

	position: relative;
	top: 150px;
	width: 80vw;
	left: 9vw;
	z-index: 0;
}





body img {
  width: 250px;
  height: 250px;
  object-fit: fill;
}

.row1 {
	display: flex;
}

.column1 {
  flex: 33.33%;
  padding: 5px;
}
.row2 {
	display: flex;
	position: relative;
}

.column2 {
  flex: 33.33%;
  padding: 5px;
}
.row3 {
	display: flex;
}

.column3 {
  flex: 33.33%;
  padding: 5px;
}
.row4 {
	display: flex;
}

.column4 {
  flex: 33.33%;
  padding: 5px;
}
.row5 {
	display: flex;
	position: relative;
}

.column5 {
  flex: 33.33%;
  padding: 5px;
}

p{

	font-size: 35px;

}

#div1{

	border: hidden;
	border-radius: 24px;
	background-color: white;
	text-decoration: none;

}

#button{

	position: relative;	
	width: 80vw; 
	transition-duration: 0.8s;	


}

#button:link, #button:visited{

	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: black;

}

#button:hover{

	background-color: lightgrey;
  	color: black;
  	border: hidden;
	border-radius: 24px;
	opacity: 0.5;

}