  * {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body{

	background-color: black;
}
header{

	background-color: black;
	/*fulscreen*/
	position:relative;
	z-index: 0;
	height: 0vh;
	width: 100vw;
	/*fulscreen*/
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: -1;
	background-color: black;
	color: white;
	animation: rollDown 3s 1;
	animation-fill-mode: forwards;
	}

	@keyframes rollDown {
	100% {height: 80vh;}
}


header h1{

	font-size: 75px;
	margin: 0;
	color: white;
	position: relative;
	top:150px;
	text-align: center;
}

header p{
	font-family:  sans-serif;
	font-size: 30px;
  	color: #8a8fa3; 
	text-align: center;
	position: relative;
	top:200px;
	z-index: 0;
	margin: 30px;
}

#button1{
	background-color:#333333;
	color: #8a8fa3;
	font-size: 24px;
	border-radius: 14px;
	opacity: 0.8;
	color:white;
	padding: 15px;
	position: relative;
	text-align: center;
	top: -20px;
	z-index: 1;

}

#buttonDiv{

	position: relative;
	text-align:center;

}

#productionHeaderDiv{
	background-color: #fbfbfb;
	/*fulscreen*/
	position:relative;
	z-index: 0;
	height: 70vh;
	/*fulscreen*/
	margin: 0;
	width: 100vw;
/*	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;*/
}

#title1{
	
	font-size: 70px;
	color:white;
	padding: 10px 40px;
	text-align: center;	 

}


#desc{

	font-family:  sans-serif;
	font-size: 40px;
  	color: #8a8fa3; 
	position: relative;
	top:5vh;
	left:300px;
	border-style: hidden;
	border-radius: 14px;
	width: 61vw;
}

#descHref{
  background-color: #fbfbfb;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 14px;
  text-decoration-color: black;

}

#pic{

	position: relative;
	left: 30px;
	top: -13vh;
}



#porshniNaZakazDiv{
	background-color: black;
	position: relative;

}

#naZakazH{
	background-color: black;
	font-size: 70px;
	color:white;
	text-align: center;	
	position: relative; 

}

#naZakazP{
	background-color: black;
	text-align: center;
	font-family:  sans-serif;
	font-size: 35px;
  	color: #8a8fa3; 
	position: relative;

}

footer{
	position: relative;
	border-style: hidden;
	z-index: -1;
	color: black;
	padding: 40px;
	height: 25vh;
}

#callButton{
	background-color:#333333;
	color: #8a8fa3;
	font-size: 24px;
	border-radius: 14px;
	opacity: 0.8;
	color:white;

	position: relative;
	text-align: center;
	z-index: 1;

}