*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

#sliderDivider{

	position: relative;
	background-color: black;
	width: 100vw;
	height: 80vh;	
	animation: sliderDivider 3s 1;
	animation-direction: forwards;

}

@keyframes sliderDivider{

	0%{height: 0vh;}	
	100%{height: 80vh;}
}

#sliderDivider p{

	position: relative;
	text-align: center;
	color: white;
	font-size: 25px;

}

#sliderDivider h1{

	position: relative;
	text-align: center;
	color: white;
	font-size: 75px;
	top: 5%;


}


#redLine{

	position: relative;
	border-style: solid;
	color: red;
	top: 10%;
	margin: 10px;
	width: 90vw; 
	left: 3.5%;
	animation: redLine 3s 1;
	animation-direction: forwards;
}

	@keyframes redLine{

		0%{width: 0vw; left: 50%;}
		100%{width: 90vw; left: 3.5%;}
	}

#sliderDivider h3{

	position: absolute;
	text-align: center;
	color: white;
	font-size: 2.5vw;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

#productButton{

	font-size: 60px;
	position: absolute;
	border-radius: 14px;
	background-color: white;
	width: 50vw;
	text-align: center;
	left: 25%;
	bottom: 0;
	opacity: 0.8;


}

/*end of first part of a page*/

#mainDivider{
	position: absolute;
	background-color: white;

}

#mainDivider h1{

	position: relative;
	font-size: 50px;
	width: 100vw;
	text-align: center;

}