  * {
  margin: 0;
  padding: 0;
}

header{

	background-color: black;
	/*fulscreen*/
	position:relative;
	z-index: 0;
	height: 100vh;
	/*fulscreen*/


}

header h1{

	font-size: 75px;
	margin: 0;
	color: white;
	position: relative;
	left: 20px;
	top:150px;
	width: 383px;
    height: 173px;
}

header p{
	font-family:  sans-serif;
  	color: #8a8fa3; 
	text-align: center;
	position: relative;
	top:200px;
}

header button{
	background-color:black;
	color: #8a8fa3;
	font-size: 24px;
	position: relative;
	top:250px;
	text-align: center;
	padding: 20px 200px;
	border-radius: 14px;
	opacity: 0.8;
}