*{

	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/*navBar*/

.navBar{

	position: fixed;
	z-index: 2;
	width: 100vw;
	background-color: #333;
	font-size: 25px;
	overflow-y: hidden;
}

.navBar img{

	position: absolute;
	right: 0;
	z-index: 2;
	width: 65.5px;
	height: 59px;


}

#navBarUl{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navBarLi {
	float: left;
	border-style: hidden;
	border-radius: 14px;
}

#navBarLi a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navBarLi a:hover:not(.active) {
	background-color: #444;
	border-style: hidden;
	border-radius: 14px;
}

.active {
	background-color: #777;
	border-style: hidden;
	border-radius: 14px;
}
/*navBar*/

body{
	overflow-x: visible;
}
#main{

	position: relative;
	overflow-x: visible;

}

#main h1{

	position: absolute;
	font-size: 63px;
	top:200px;
	right: 0;
	margin-right: 160px;
	overflow-x: visible;
}

#main ul{

	position: absolute;
	right: 0;
	overflow-x: visible;

}

#main li{

	position: relative;
	font-size: 20px;
	top:50px;
	right:0;
	overflow-x: visible;

}

#mainPic{

	position: relative;
	top:200px;
	left: 50px;
	overflow-x: visible;

}

#redLine{

	position: relative;
	border-style: solid;
	color: red;
	top: 238px;
	width: 90vw; 
	left: 5%;
	z-index: 1;
	overflow-x: visible;

}


#more{

	position: relative;
	top: 300px;
	left: 50px;
	width: 90vw;
	height: 0%;
	text-align: center;
	background-color: white;
	overflow-x: visible;
	display: none;
}
.img1 {

	z-index: 1;
	overflow-x: visible;
}

#moreInfo{

	position: relative;
	top: 250px;
	width: 90vw;
	left: 5.275%;
	font-size: 35px;
	color: white;
	border-style: hidden;
	border-radius: 30px;
	background-color:darkred;
	opacity: 0.7;
	overflow-x: visible;
}


/*ending*/
#endDiv{

	position:absolute;
	width: 100vw;
	bottom: 0;
	background-color: black;
	overflow-x: hidden;

}

#naZakazH{
	text-align: center;
	color: white;
	font-size: 50px;
	overflow-x: hidden;

}

#naZakazP{
	text-align: center;
	font-size: 30px;
  	color: #8a8fa3; 
  	overflow-x: hidden;
 }
#callButton{
	background-color:#333333;
	color: #8a8fa3;
	font-size: 35px;
	border-radius: 14px;
	opacity: 0.8;
	color:white;
	position: relative;
	text-align: center;
	z-index: 0;
	text-decoration: none;
	overflow-x: hidden;
}
/*ending*/